.blogs {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 100vh;
}

.blogs a {
    text-decoration: none;
}

.blogs h1 {
    margin:50px;


}

.blog h4 {
        font-size: 14px;
        padding: 3px 5px;
    }
.blogs-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto;
}


.blog img {

    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;

}

.blog-des {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
    padding: 10px;
}

.blog {
    box-shadow: 1px -1px 3px 4px rgba(0,0,0,0.11);
    border-radius: 8px;
}

@media only screen and (max-width:690px) {
    .blogs-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2,1fr);
    }
    .blog h4 {
        font-size: 14px;
        padding: 3px 5px;
    }
}
