.contact {
    min-height: 100vh;
    background: white;
    width: 100%;

}

.contact-container {
    display: flex;
    width: 90%;
    margin:  auto;
    padding: 5%;
    justify-content: space-around;
    
}

.cont-2 {
    min-height: 60vh;
}

.cont-2 form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 60vh;
}

 form input {
    width: 250px;
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    background: gray;
    color: white;
}

form input::placeholder {
    color: white;
}

form textarea {
    width: 250px;
    padding: 7px 12px;
    height: 200px;
    border-radius: 10px;
}

.cont-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 60vh;
}

.cont-1 div {
    display: flex;
    align-items: center;
}

.dir {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

form button {
    background: red;
    padding: 8px 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    width: 100px;
    margin-left: auto;
    border: none;
    color: white;
}


@media only screen and (max-width:690px){

    .contact-container {
        flex-direction: column;
    }
    .cont-1 {
        justify-content: flex-start;
        gap: 20px;
        height: 100px;
        min-height: 25vh;
    
    }
    form label {
        width: 90%;
        margin: auto;
    }

    form input,form textarea {
        width: 90%;
        margin: auto;
    }

}