body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    display: flex;
}

.sidebar {
    width: 20%;
    background: aqua;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 20%;
    height: 70px;
    background: blue;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding:0 30px;
    align-items: center;
    z-index: 1000;
}

.humburg {
    width: 40px;
    height: 40px;
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.mainbar {
    width: 80%;
    margin-left: 20%;
    padding:20px;
    min-height: 100vh;
    margin-top: 70px;
}



.sidebar h2 {
    text-align: center;
    margin-bottom: 50px;
}

.dashboard {
    width: 140px;
    margin: auto;
}

.dashboard p {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
}

.card-conatiner {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 15px;
    margin: auto;
    background: aqua;
    
}

.card {
    padding: 10px;
    border-radius: 7px;
    box-shadow: -1px 1px 3px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    text-align: center;
}

.card img {
    width: 50px;
    height: 50px;
}


.message {
    padding: 10px;
    box-shadow: 1px -1px 3px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 10px;
}

.message div {
    display: flex;
    gap: 20px;
}

.message div p {
    padding: 5px;
    border-radius: 5px;
    background: blue;
    color: white;
}

/* .default {
    margin-top: 30px;
} */

.add-article-cont, .view-articles-cont {
    min-height: 100vh;
}

.active {
    background: blue;
    color: white;
}

/* Center the form horizontally and vertically */
.add-article-cont {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container full height of the viewport */
}

/* add article form  */
.add-article-cont form {
    width: 300px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 60px auto;
   
}


/* Style form inputs */
#add-article-cont form input,
#add-article-cont form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Style the submit button if needed */
#add-article-cont form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.artccle-container {
    margin-top: 50px;
}

.action-svg {
    width: 18px;
    height: 18px;
}

.article {
    padding: 5px 12px;
    border-radius: 5px;
    box-shadow: 1px -1px 3px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-tt {
    text-wrap: wrap;
}


/* modal to delete  */

.delete {
    padding: 10px;
    border-radius: 10px;
    box-shadow: -2px 3px 5px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    background: white;
    display: none;
}
.topbar div {
    margin-left: auto;
}

/* media querrie */

table {
    width: 80%;
    margin: auto;
}

@media only screen and (max-width:790px){
    .sidebar {
        display: none;
        position: fixed;
        width: 200px;
        top: 70px;
        z-index: 1000;
        overflow-x: hidden;
        overflow: hidden;
    }

    .topbar {
        margin-left: 0;
        z-index: 1000;
    }
    
    .mainbar {
        margin-left: 0;
        width: 100%;
    }
    .article {
        width: 100%;
        
    }

    .delete {
        left: 5%;
        right: 5%;
        width: auto;
        position: fixed;
        top: 40%;
    }

    .add-article-cont form{
        width: 270px;
    }
    .humburg {
        display: block;
    }
}

.headrs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;

}




